#previewFull {
  background-color: #F9D8C3 !important;
  width: 2050px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

body {
  background-color: #F6CAAC !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: none !important;
}

#sitetitle {
  border-bottom: none !important;
}

.borderRight {
  border-right: 1px solid #5C9CD6 !important;
}

.logo {
  display: inherit !important;
}

.detailText {
  color: #595959 !important;
  background-color: inherit;
}

.preview {
  border: 10px solid #000000 !important;
}

.thumbnail {
  background-color: #F9D8C3 !important;
  color: inherit;
}

#wrapper_thumb {
  width: 484px !important;
}

#stage2 {
  width: 2050px !important;
}

.itemNumber {
  color: #5B9BD5 !important;
  display: inherit !important;
  background-color: inherit;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #5C9CD6 !important;
  border-left: 1px solid #5C9CD6 !important;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #CCCCCC !important;
  color: inherit;
}

.borderRightDotted {
  border-right: 1px dotted #5C9CD6 !important;
}

.borderBottomRight {
  border-right: 1px solid #5C9CD6 !important;
  border-bottom: 1px solid #5C9CD6 !important;
}

#wrapper_large {
  width: 2050px !important;
}

.emptyThumbnail {
  background-color: #F9D8C3 !important;
  color: inherit;
}

#previewImage {
  maxSize: 2000.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #000000 !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #5C9CD6 !important;
}

#stage {
  width: 484px !important;
}

.textColor {
  color: #5B9BD5 !important;
  background-color: inherit;
}
